extends ../layouts/default

block content
	.container
		.jumbotron
			h1 Pour nous contacter
			p Si vous désirez supprimer votre annonce ou la modifier, ou si vous avez des questions, merci d'utiliser ce formulaire de contact
			p n'oubliez pas de préciser quelle annonce (date et titre seront utiles)
		.row
			.col-lg-12
				form#contact-form(novalidate)
					.container
						.form-row
							.col-lg-12
								h2 A propos de vous
								p pour qu'on puisse vous répondre !
							.col
								.form-group
									label.required(for="prenom") Prénom
									input.form-control#prenom(type="text", placeholder="Votre prénom", required)
									.invalid-feedback Ce champ est requis
							.col
								.form-group
									label.required(for="nom") Nom
									input.form-control#nom(type="text", placeholder="Votre nom", required)
									.invalid-feedback Ce champ est requis
							.col
								.form-group
									label.required(for="email") Email
									input.form-control#email(type="email", placeholder="Votre Email", required)
									.invalid-feedback Il faut pouvoir vous contacter
							.col
								.form-group
									label(for="telephone") Téléphone
									input.form-control#telephone(type="phone", placeholder="Téléphone")
						.form-row
							.col-lg-12
								h2.required Votre demande
								.form-group
									textarea.form-control#message(rows="6", required)
									.invalid-feedback Il faut décrire ce que vous attendez ou proposez !
						.form-row
							.col.justify-content-end
								button.btn.btn-primary(type="submit") Envoyer
				.alert#result

block js
	script(src="/js/contact.js")
