extends ../layouts/default

block content
	.container
		.jumbotron
			h1 Déposez ici votre annonce
			p les annonces sont modérées avant d"être publiées
		.row
			.col-lg-12
				form#contact-form(novalidate)
					.container
						.form-row
							.col-lg-12
								h2 Votre annonce
							.col
								.form-group
									label.required(for="typeAnnonce") Type d'annonce
									select.form-control.form-control-lg#typeAnnonce
										option(value="Offre") Offre de service
										option(value="Demande") Demande d"aide
							.col
								.form-group
									label.required(for="titre") Titre de votre annonce
									input.form-control.form-control-lg(type="text", placeholder="Titre", required, id = "titre")
									.invalid-feedback Le titre est nécessaire pour afficher votre annonce
							.col-lg-12
								.form-group
									label.required(for="annonce") Votre annonce
									textarea.form-control#message(rows="6", required)
									.invalid-feedback Il faut décrire ce que vous attendez ou proposez !
							.col
								.form-group
									label.required(for="typeAnnonce") J'habite dans ce quartier
									select.form-control.form-control-lg#quartier
										option(value="PAL") Port au loup
										option(value="CENTRE") Centre village
										option(value="NAZE") La Naze
										option(value="BUTRY") Butry s/Oise
										option(value="NESLES") Nesles la valée
										option(value="PARMAIN") Parmain
										option(value="LOIN") plus loin

						.form-row
							.col-lg-12
								h2 A propos de vous
							.col
								.form-group
									label.required(for="prenom") Prénom
									input.form-control#prenom(type="text", placeholder="Votre prénom", required)
									.invalid-feedback Ce champ est requis
							.col
								.form-group
									label.required(for="nom") Nom
									input.form-control#nom(type="text", placeholder="Votre nom", required)
									.invalid-feedback Ce champ est requis
							.col
								.form-group
									label.required(for="email") Email
									input.form-control#email(type="email", placeholder="Email Address", required)
									.invalid-feedback Il faut pouvoir vous contacter
							.col
								.form-group
									label.required(for="telephone") Téléphone
									input.form-control#telephone(type="phone", placeholder="Téléphone", required)
									.invalid-feedback Il faut pouvoir vous contacter
						.form-row
							.col.justify-content-end
								button.btn.btn-primary(type="submit") Envoyer
				.alert#result

block js
	script(src="/js/depos.js")
