p Face aux circonstances actuelles de confinement rendues encore plus pénibles pour les personnes âges isolées ou en soutien aux personnels soignants, l'
	strong Association des Parents d’Élèves de Valmondois
	| &nbsp;lance un appel à la solidarité et propose à tous les enfants de dessiner pour eux !
	| <br/>Leurs créations seront remises selon leur souhait, aux personnes âgées isolées de Valmondois, aux résidents de l'EHPAD d'Ennery ou encore aux personnels soignants du service de réanimation des Hôpitaux de Pontoise, d'Eaubonne et d'Argenteuil.
	| <br/><br/>Bravo et merci à tous les enfants !
	| <br/>(Les collégiens et lycéens sont également invités à participer)
