#footer {
  margin-top: 1.5rem;
  border-top: #deefff solid 1px; }

.navbar {
  background-color: #deefff; }
  .navbar .nav-item {
    font-size: 18px;
    font-weight: 600; }
    .navbar .nav-item:hover {
      background-color: #61b3ff; }

.required::after {
  content: '*';
  color: #ff0000;
  padding-left: 5px; }

.offre {
  background-color: #ecfff3; }

.demande {
  background-color: #ffecee; }

.bon-plan {
  background-color: #ffe4aa; }

.initiatives {
  background-color: #fbc8ff; }

.entete {
  text-align: center;
  padding-bottom: 1rem; }

.jumbotron {
  margin-top: 1rem;
  background-color: #deefff; }

.card {
  transition: height 1s, transform 1s; }
  .card h3 {
    margin-top: 0.25em; }
  .card .date-offre {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 60px;
    height: auto;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #212529;
    text-align: center; }
  .card .ruban {
    position: absolute;
    left: 0;
    width: 40%;
    background-color: #61b3ff;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 0 5px 5px 0;
    margin-top: 10px; }
  .card button,
  .card a {
    margin-top: 56px; }

.text-annonce {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.custom-file-input ~ .custom-file-label::after {
  content: "Choisir..."; }

#image-dessin {
  max-width: 100%; }

#modalDessin img {
  max-width: 100%; }

.badge {
  margin-left: 1.5em; }

.nav-pills a {
  text-decoration: none;
  color: #495057; }
  .nav-pills a.nav-link {
    border: 1px solid #eee;
    margin: 0 5px; }
  .nav-pills a:hover {
    background-color: #eee;
    transition: 0.2s; }
